@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* RealScout widget customization */
realscout-advanced-search {
  --rs-primary-color: var(--orange-500);
  --rs-button-background: var(--orange-500);
  --rs-button-hover-background: var(--orange-600);
  width: 100%;
}

realscout-office-listings {
  --rs-listing-divider-color: var(--slate-200);
  --rs-primary-color: var(--orange-500);
  --rs-button-background: var(--orange-500);
  --rs-button-hover-background: var(--orange-600);
  width: 100%;
}
